html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #28242c;
  color: #d4dada;

  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #d4dada;
  text-decoration: none; /* remove the underline from text with links */
}

/* @media queries used for mobile responsiveness */

/* anything on a large desktop */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
/* a normal iphone screen */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
/* a very small screen */
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}